@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom css */
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f8f8f8;
  /* overflow-x: hidden; */
}

#root {
  height: 100vh;
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}
